/*------------------------------------*\
    #BOX
\*------------------------------------*/

$box-padding:           $base-spacing-unit !default;
$box-padding--small:    halve($box-padding) !default;
$box-padding--large:    double($box-padding) !default;

/**
 * Box off and pad contained content.
 *
 * 1. So we can apply the `.box` class to naturally-inline elements.
 */
.#{$namespace}box,
%#{$namespace}box {
    @extend %clearfix;
    display: block; /* [1] */
    padding: $box-padding;

    > :last-child {
        margin-bottom: 0;
    }
}





/**
 * Box size variants
 */
.#{$namespace}box--small,
%#{$namespace}box--small {
    padding: $box-padding--small;
}

.#{$namespace}box--large,
%#{$namespace}box--large {
    padding: $box-padding--large;
}
